@import './variables.scss';
// browsers are weird, so we need this
@import 'normalize.css';

html,
body,
div#app {
  // Remove default padding and margin
  padding: 0;
  margin: 0;

  // Default font weight
  font-weight: 400;

  // Set the height for the root element
  min-height: 100vh;

  // Antialiasing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $ai-bg-15;
  color: white;
  
  font-family: $font-mono;
}

code {
  font-family: $font-code;
}

p {
  font-family: $font-text;
}
