@function genBaseColorHSL($lightness: 10%) {
  @return hsl(0, 0%, $lightness);
}

@function genBrightColorHSL($lightness: 49%) {
  @return hsl(281, 98%, $lightness);
}

@function genDarkColorHSL($lightness: 50%) {
  @return hsl(253, 45%, $lightness);
}

$ai-bg-15: genBaseColorHSL();
$ai-bg-20: genBaseColorHSL();
$ai-bg-25: genBaseColorHSL();

$ai-fg-75: genDarkColorHSL();
$ai-fg-80: genDarkColorHSL();
$ai-fg-85: genDarkColorHSL();

$ai-border: 1px solid genDarkColorHSL();

$font-mono: 'Fira Mono', monospace;
$font-code: 'Fira Code', monospace;
$font-text: 'Fira Sans', sans-serif;
