@import '../variables.scss';

.sidebar {
  height: 100%;
  background-color: $ai-bg-20;
  border-right: $ai-border;
  padding: 1rem;
}

.container {
  max-width: 50rem;
  margin: 1rem;
  height: 100%;
}

.wrapper {
  display: grid;
  // Each `o` represents 1fr, 1 space.
  // Total of 10 spaces.
  // ooo | ooooooo
  grid-template-columns: 3fr 7fr;
  height: 100vh;
}
